/*Sabra May 
VFW 1305 
Project 2
May 16, 2013 */

body {
	background: #fafbed;
}

h1 {
	color: #fd9f07;
	font-family: arial;
}

p {
	color: #a94603;
}

input.addbutton{
	background: #a94603;
	height: 24px;
	width: 100px;
	color: #ffc774;
	font-size: 14px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	border: none;
	box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	-moz-box-shadow: 2px 2px 5px #888;
}

input.addbutton:hover{
	color: white;
}

input.addbutton:active{
	color: white;
	background: #07b9a2;
}

input.saveButton{
	background: #a94603;
	height: 24px;
	width: 100px;
	color: #ffc774;
	font-size: 14px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	border: none;
	box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	-moz-box-shadow: 2px 2px 5px #888;
}

input.saveButton:hover {
	color: white;
}

input.saveButton:active{
	color: white;
	background: #ff9900;
}

fieldset {
	border: #a94603 2px dotted;
}

legend {
	text-transform: uppercase;
	color: #a94603;
	background: #fafbed;
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


