/*	Sabra May
	VFW 1307
	Project 4 */
	
body {
	font: 14px Helvetica, Arial, sans-serif;
	color #84d8da;
}	

ul{
	list-style:none;
}

li{
	padding: 0 0 5px;
}

form{
	/*padding: 10px;*/
	background: #feffff;
background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef));
background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
background: -o-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
background: -ms-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );
}

fieldset{
	border: 2px solid #6a9fea;
}

legend{
	text-transform: lowercase;
	color: #ff9900;
	background: #fff;
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	

}

header h1{
	text-transform: lowercase;
	font-size: 20px;
	margin-left: 10px;
	color: #6a9fea;
	padding: 5px 10px;
	width: 230px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

header p{
text-transform: lowercase;
	font-size: 16px;
	color: #b0ddfd;
	padding: 0 10px;
	margin-left: 10px;
}

input.button{
	background: #FFF;
	height: 24px;
	width: 100px;
	font-size: 14px;
}

input.button:active{
	color: white;
	background: #FFED86;
}

input.submit{
	background: #fff;
	height: 24px;
	width: 100px;
	font-size: 14px;
}

input.submit:active{
	color: white;
	background: #FFED86;
}



